{{#*inline "page"}}

<div class="container">
<div>

    <!-- TITLE -->
    <div class="columns">
      <div class="column is-full has-text-centered">
        <h1 class="title-104 title is-1">104</h1>
        <h2 class="subtitle is-4">
          <span class="title-things">things</span>
          <span class="title-to">to</span>
          <span class="title-photograph">photograph</span>
        </h2>
      </div>
    </div>
    
    <!-- PHOTOS -->
    <div class="columns">
    <div class="column">
    <div class="tile is-ancestor is-vertical">
      {{#each words}}

      <!-- images -->
      <div class="tile is-12 is-parent">
        {{#each [0,1]}}
        <div class="tile is-6 is-child">
          <figure class="image is-16-by-9">
            <img src="/image/{{this}}/{{../this.0}}" loading="lazy"></img>
          </figure>
        </div>
        {{/each}}
      </div>

      <!-- subtitle -->
      <div class="tile is-12 is-parent">
      <div class="tile is-12 is-child">
        <div class="image-subtitle">
          <p> {{this.1}} </p>
        </div>
      </div>
      </div>

      {{/each}}
    </div>
    </div>
    </div>

</div>
</div>

{{/inline}}
{{> layout}}
