<!doctype html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>TITLE</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">


    <style>
      .page-title-big {
        font-size:5em;
        margin:0;
      }

      .page-title-small {
        font-variant: small-caps;
        margin:0;
      }

      .image {
        width: 100%;
      }

      body {
        font-family: 'Acme', serif;
        background-color:#666;
      }

    </style>
  </head>

  <body>
    <div>
    {{~> page}}
    </div>
  </body>

</html>
