<!doctype html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>TITLE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">


    <style>

      .title-104 {
        color: #eee;
      }
      .title-things {
        color: #f4d546;
      }
      .title-to {
        color: #ffa359;
      }
      .title-photograph {
        color: #f3b3cd;
      }

      .image-subtitle {
        width:100%;
        text-align:center;

        font-family: 'Caveat', serif;
        font-size:2em;
        color: #ddd;
      }

      body {
        font-family: 'Acme', serif;
        /*background-color:#d2332f;*/
        background-color:#252320;
      }

    </style>
  </head>

  <body>
    <div>
    {{~> page}}
    </div>
  </body>

</html>
